.container {
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.144) 0%, rgba(9, 9, 121, 0.603) 0%, rgba(0, 213, 255, 0.363) 100%), url(../public/bg_image_2.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.logo {
  color: rgb(18, 2, 109);
  margin-bottom: 3rem;
  cursor: pointer;
}

.heroSection {
  height: 70vh;
  width: 100%;
  display: grid;
  place-content: center;
  color: white;
}

.heroSectionText h3 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 2.3rem;
  word-spacing: 3px;
}

.hideMobile {
  display: none;
}

.rightArrow {
  margin-left: 5px;
}

.homeBtn:hover .rightArrow {
  transition: all .3s ease-in-out;
  margin-left: 13px;
}

@media screen and (min-width:1000px) {
  .container{
    background: none;
  }

  .heroSection {
    grid-template-columns: 3fr 4fr;
    align-items: center;
    justify-items: center;

  }

  .heroSectionText {
    height: inherit;
    background-color: rgb(243, 241, 241);
    padding: 2rem;
    border-radius: 8px 0 0 8px;
  }

  .heroSectionText h3 {
    color: rgb(55, 39, 146);
  }

  .hideMobile {
    width: 100%;
    height: inherit;
    display: block;
    background: url(../public/bg_image_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 8px 8px 0;
  }
}


@media screen and (min-height: 700px) {
  .heroSectionText h3 {
    font-size: 2.1rem;
    line-height: 2.5rem;
  }
}